* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body{
  font-family: sans-serif;
}

ul {
  list-style: none;
  border: solid 2px #000;
  width: 100%;
}

li {
  padding: 5px;
}

header {
  align-self: flex-start;
  margin: 30px 30px;
}

#main {
  width: 95%;
  justify-content: center;
  align-items: flex-start;
}

#main-left {
  justify-content: start;
  gap: 10px;
  width: 40%;
}

#main-left button {
  border-radius: 0;
  padding: 5px;
  background-color: white;
  box-shadow: 2px 2px 0 0 #000;
}

#title-left {
  width: 100%;
  justify-content: space-between;
}

#scores-board {
  align-items: flex-start;
}

ul li {
  color: black;
  width: 100%;
}

ul li:nth-child(odd) {
  background-color: #fff;
}

ul li:nth-child(even) {
  background-color: #e0e0e0;
}

#main-right {
  justify-content: start;
  gap: 10px;
  width: 40%;
}

#main-right form {
  gap: 15px;
}

#main-right form input {
  padding: 5px;
  color: #000;
  border: solid 2px #000;
}

#form-btn {
  margin-top: 10px;
  align-self: flex-end;
  border-radius: 0;
  padding: 5px;
  background-color: white;
  box-shadow: 2px 2px 0 0 #000;
}

.d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  flex-direction: row;
}

.click {
  cursor: pointer;
}
